.wrapper {
  display: flex;
}

.image {
  width: 200px;
}

.innerWrapper {
  display: block;
  margin-left: 20px;
}

.overview {
  text-align: justify;
}

.decsr {
  font-size: 16px;
  font-weight: 600;
  margin-right: 10px;
}
