.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  width: 200px;
  padding: 0 15px;
  margin: 10px 0 15px;
  line-height: 40px;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  background: rgba(66, 205, 230, 0.2);
  box-shadow: 0 8px 15px rgba(18, 113, 151, 0.1);
  transition: 0.3s;
}

.button {
  text-decoration: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.button:hover {
  background: #2e83e5;
  box-shadow: 0 15px 20px rgba(46, 131, 229, 0.4);
  color: white;
  cursor: pointer;
  transform: translateY(-4px);
}

.link {
  display: block;
  width: fit-content;
  padding: 5px;
  color: black;
  margin: 5px;
  margin-left: 20px;
}

.link:hover {
  color: rgb(19, 96, 126);
  transform: scale(1.1);
  transition: transform 500ms linear;
}
